<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ title}}</title>

    <style>

            header{
                display: flex;
                align-items: center;
                justify-content: space-between;

                position: fixed;
                width: 100%;
                height: 75px;
                top: 0;
                left: 0px;
                z-index: 3;

                background-color : #5C2D91;
            }

            .nav_bar {
                list-style: none;
                padding-right: 0;
                margin-right: 150px;

                display: flex;
                position: fixed;
                top: 10px;
                right: 0;
            }

            .nav_bar li {
                display: inline-block;
                padding: 0px 30px;
            }

            .nav_bar li a {
                font-family: sans-serif;
                font-weight: bold;
                color : white;
                text-decoration : none;
            }

            .nav_bar li a:hover{
                text-decoration : underline;
            }

            body{
                font-family: sans-serif;
                background: #0F366B;
            }

            table{
                background-color : #fff;
                color: #fff;
                border-radius: 5px ;
            }

            td{
                border-radius: 5px ;
            }
            tr:hover {
                transition: all 0.3s ease 0s;
                background: rgba(0, 0, 0, 0);
                color: #E11647;
            }

            th{
                border-radius: 5px ;
                background: #032F4F;
                color: #fff;
            }

            a:hover{
                transition: all 0.3s ease 0s;
                filter: drop-shadow(0px 0px 0.5rem #E11647);
            }

            h1 {
                border-radius: 5px;
                width : 500px;


                color: #E11647;
                background-color: white;
                text-align: center;
            }

        </style>
</head>

<body>
    <header>
        <nav>
            <ul class="nav_bar">

                <li>
                    <a href="/index">
                        HOME
                    </a>
                </li>
                <li>
                    <a href="/conferences">
                        CONFERENCES
                    </a>
                </li>
                <li>
                    <a href="#">
                        PLAYERS
                    </a>
                </li>
                <li>
                    <a href="/predictions">
                        PREDICTIONS
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <br><br><br><br>

    <table cellspacing="2" align="center" cellpadding="15">
        <caption><h1>{{title}}</h1></caption>
        <tr bgcolor="#032F4F" > <th></th> <th>City</th> <th>Name</th> <th>Trigram</th> <th>Division</th> </tr>

        {% for team in teams %}

        <tr bgcolor="#9388B0" > <td bgcolor="#fff" align="center"> <a href="/team_statistics/{{ team[0] }}">  <img src="https://cdn.nba.com/logos/nba/{{team.id}}/global/L/logo.svg" height=50px width=50px> </a> </td> <td align="center">{{team.city}}</td> <td align="center">{{team.name}}</td> <td align="center">{{team.trigram}}</td> <td align="center">{{team.division}}</td></tr>

        {% endfor %}

    </table>
</body>
</html>