{% extends 'base.html' %}

{% block content %}
        <h1> Liste des {{players|length}} joueurs </h1>

        <ol>
            {% for player in players %}

            <li>{{player.first_name|title}} {{player.last_name|upper}} <br><br> </li>

            {% endfor%}
        </ol>
{% endblock %}
